.DS_Store

# Dependencies
node_modules/

# Build output
dist/
build/
coverage/

# Pulumi
.pulumi/

# Logs & envs
*.log
.env
.env.local
.env.*.local

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
